body {
    background-color: rgb(185, 226, 245)
}
h1 {
    color: #110807;
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    text-align:"center";
}
div{
    border-radius: 8px;
    position:right;
}
h2{
font-size: 3em;
font-family: 'Times New Roman', Times, serif;
color:#010ec7
}
h3{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color:#010ec7
}
h4{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color:#010ec7

}
p{
    color: black;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    
}
#jump-to {
    background-color: #c6cebe;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    text-align:"center";

}
h5{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color:#010ec7;
    text-align:"center";
}
ul{
    font-family: 'Times New Roman', Times, serif;
}
dt{
    font-weight: bolder;
    font-style: italic;
    font-size: 2em;
}
dd{
    font-size: 1em;
    color: rgb(33, 11, 34);
}
table{
    border: 1px;
    font-size: 2em;
}
th{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(3, 41, 41)
}
td{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(0, 0, 0)
}